<div class="container">
  <h2>Dashboard</h2>

  <%  _.each(board, function(item) { %>

  <div class="col-md-12">
    <div class="thumbnail">
      <%=item.text%>
    </div>
  </div>

  <% }); %>
</div>
